<title>Carrito</title>

{{#if payload.length}}
  <div class="mx-auto my-2 text-center border-2 text-uppercase">
    <h1>Carrito</h1>
  </div>
  
  <div class="row gap-3 justify-content-evenly">
    <!-- Sección de Productos en Carrito -->
    <div class="col-lg-8 col-sm-12">
      <div class="border border-1 bg-white">
        <div class="text-black antiquewhite p-2">
          <h4>Productos en carrito</h4>
        </div>
        <ul id="cartItemList">
          {{#each payload}}
            <li class="d-flex border-bottom py-3">
              <a href="../products/item/{{#if _id._id}}{{_id._id}}{{else}}{{_id}}{{/if}}">
                <img class="carrito21BoxCol1" 
                     src="../../img/products/{{#if _id.thumbnails}}{{_id.thumbnails}}{{else}}{{thumbnails}}{{/if}}" 
                     alt="{{#if _id.title}}{{_id.title}}{{else}}{{title}}{{/if}}">
              </a>
              <div class="carrito21BoxCol2">
                <h4 class="tituloNombreCart">{{#if _id.title}}{{_id.title}}{{else}}{{title}}{{/if}}</h4>
                <h5 class="mt-2">Precio x unidad:&nbsp; $<strong class="price">{{#if _id.price}}{{_id.price}}{{else}}{{price}}{{/if}}</strong></h5>
                <h5 class="mt-5">Unidades:&nbsp;&nbsp;<strong class="quantity">{{quantity}}</strong></h5>
                <h5 class="mt-3">Precio x lote ({{quantity}}):&nbsp; $<strong class="totalPrice">{{#if _id.price}}{{_id.price}}{{else}}{{price}}{{/if}}</strong></h5>
              </div>
              {{#if _id.stock}}
                <!-- Si hay stock, no mostramos el overlay -->
              {{else}}
                <div class="out-of-stock-overlay">
                  <img src="../../img/agotado.png" alt="Fuera de Stock">
                </div>
              {{/if}}
            </li>
          {{/each}}
        </ul>
        <button class="btn btn-effect btn-dark btn-jif px-5 mt-3 text-uppercase mb-4 ms-4" 
                id="vaciarCarritoBtn" 
                data-cart-id="{{user.cart._id}}">
          Vaciar carrito
        </button>
      </div>
    </div>
    
    <!-- Sección de Detalle de Compra -->
    <div class="col-lg-3 col-sm-12">
      <div class="border border-1 bg-white">
        <div class="p-2 text-black antiquewhite">
          <h4>Detalle de compra</h4>
        </div>
        <div>
          <table class="table table-borderless align-middle">
            <tbody id="cartSummary">
              <tr>
                <td class="col-10 fs-14">Cantidad de productos:</td>
                <td class="col-12 fs-14 text-end">{{totalQuantityInCart}}</td>
              </tr>
              <tr>
                <td class="col-10 fs-14">Subtotal:</td>
                <td class="col-2 fs-14 text-end" id="subtotal">$0.00</td>
              </tr>
              <tr>
                <td class="col-10 fs-14">Descuento:</td>
                <td class="col-2 fs-14 text-end">$0.00</td>
              </tr>
              <tr>
                <td class="col-10">Total:</td>
                <td class="col-2 text-end" id="total"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      
      <!-- Sección para Confirmar Compra -->
      <div class="iniciarCompra">
        <form action="{{user.cart._id}}/purchase" method="get">
          <button class='btn btn-effect btn-dark btn-jif bg-black px-5 text-uppercase'>
            <i class="bi bi-cash-stack"></i> Confirmar Compra
          </button>
        </form>
      </div>
    </div>
  </div>
{{else}}
  <div>
    <h1 class="font-semibold text-4xl text-gray-700 text-center text-uppercase my-5">
      El carrito está vacío
    </h1>
  </div>
{{/if}}

<!-- Scripts necesarios -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/cartScript.js"></script>