<div class="container">
  {{#if payload}}
    <!-- Resumen de la compra -->
    <div class="card mt-4">
      <div class="text-black antiquewhite p-2">
        <i class="fas fa-receipt"></i> Resumen de la compra:
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Ticket ID: {{payload.ticketId}}</li>
        <li class="list-group-item">Monto total: ${{payload.amount}}</li>
        <li class="list-group-item">Usuario: {{user.first_name}} {{user.last_name}}</li>
        <li class="list-group-item">Email: {{payload.purchaser}}</li>
      </ul>
    </div>

    <div class="card mt-4">
      <div class="text-black antiquewhite p-2">
        <i class="fas fa-info-circle"></i> Detalle de la compra
      </div>
      <div class="card-body">

        <!-- Productos no procesados, si existen -->
        {{#if payload.productosNoProcesados}}
          <div class="card mb-3">
            <div class="text-black bg-light p-2">
              <i class="fas fa-times"></i> Productos no procesados por falta de stock
            </div>
            <br>
            <div class="form-holder">
              <table class="table-items" style="width: min-content;">
                <thead>
                  <tr class="text-uppercase">
                    <th class="col-1">ID del producto</th>
                    <th class="col-1">Nombre del producto</th>
                    <th class="col-6" style="width: inherit;">Cantidad</th>
                  </tr>
                </thead>
                <tbody id="table-body">
                  {{#each payload.productosNoProcesados}}
                    <tr>
                      <td class="col-1">{{this._id}}</td>
                      <td class="col-6">{{this.name}}</td>
                      <td class="col-1" style="width: inherit;">{{this.quantity}}</td>
                    </tr>
                  {{/each}}
                </tbody>
              </table>
            </div>
            <div>
              <h2 class="text-uppercase text-center m-4">Importe no contabilizado: - ${{this.notProcessedAmount}}</h2>
            </div>
          </div>
        {{/if}}

        <!-- Productos procesados correctamente -->
        <div class="card mb-3">
          <div class="text-black bg-light p-2">
            <i class="fas fa-check"></i> Productos procesados correctamente
          </div>
          <br>
          <div class="form-holder">
            <table class="table-items" style="width: min-content;">
              <thead>
                <tr class="text-uppercase">
                  <th class="col-1">ID del producto</th>
                  <th class="col-1">Nombre del producto</th>
                  <th class="col-6" style="width: inherit;">Cantidad</th>
                </tr>
              </thead>
              <tbody id="table-body">
                {{#each payload.productosProcesados}}
                  <tr>
                    <td class="col-1">{{this._id}}</td>
                    <td class="col-6">{{this.name}}</td>
                    <td class="col-1" style="width: inherit;">{{this.quantity}}</td>
                  </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
          <div>
            <h2 class="text-uppercase text-center m-4">Monto final: ${{this.processedAmount}}</h2>
          </div>
        </div>


      </div>
    </div>

    <!-- Botones de navegación -->
    <div class="d-flex justify-content-between mt-4">
      <form action="/cart/{{payload.cartId}}" method="get">
        <button class='btn btn-effect btn-dark btn-jif bg-black mt-2 mx-4'>Volver al carrito</button>
      </form>
      <form action="/products" method="get">
        <button class="btn btn-effect btn-dark btn-jif bg-black mt-2 mx-4">Continuar Comprando</button>
      </form>
    </div>
  {{else}}
    <!-- Productos no procesados fuera de payload -->
    {{#if notProcessed}}
      <div class="card mt-4">
        <div class="text-black antiquewhite p-2">
          <i class="fas fa-times"></i> Productos no procesados por falta de stock: ${{this.notProcessedAmount}}
        </div>
        <ul class="list-group list-group-flush">
          {{#each notProcessed}}
            <li class="list-group-item">ID del producto: {{this._id}}, Cantidad: {{this.quantity}}</li>
          {{/each}}
        </ul>
      </div>
    {{/if}}
  {{/if}}
</div>