<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="JIF Style es una tienda online de indumentaria casual, homewear, streetwear, y ropa urbana. Prendas perdurables, en donde priman la comodidad y el estilo." />
  <meta name="keywords" content="ecommerce, hombre, remeras, camperas, jeans, pantalones, chombas, camisas, descuentos, ofertas, eshop, indumentaria, ropa" />
  <meta name="author" content="lucas.m.albrgi@gmail.com">
  <meta name="publisher" content="lucas.m.albrgi@gmail.com">

  <title>{{title}}</title>
  <link rel="icon" type="image/x-icon" href="/img/favicon_io/favicon.ico" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
  <link rel="stylesheet" href="/css/{{style}}" />
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css" />
</head>

<body>
  <div id="wrapper-navbar" class="sticky-top">
    <nav class="bg-body-tertiary fixed-top navbar navbar-expand-lg navbar-light" >
      <div class="container-fluid d-flex justify-content-between align-items-center"  style="background-color: black;">
        <div class="nav-left col-3">
          <div class="d-block d-sm-none">
            <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#mobileNavbar" aria-controls="mobileNavbar" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          </div>
          <a class="mx-auto navbar-brand d-none d-sm-block" href="/">
          </a>
        </div>
        <div class="nav-center d-flex justify-content-center mx-auto col-6">
          <a class="mx-auto navbar-brand d-none d-sm-block" href="/">
            <h1 style="font-family: Antonio; padding: 0; margin: 0; color:orange">S<strong style="color:white;">port </strong > <strong class="uni" style="color: orange;">P</strong><strong style="color:white">lus</strong></h1>
          </a>
        </div>
        <div class="nav-right d-flex align-items-center col-3" style="justify-content: right;">
          <div class="nav-icons" style="display: flex; gap: .9rem; justify-content: flex-end;">
          </div>
          {{#if user}}
            <div class="dropdown d-none d-sm-block">
              <button class="btn border-0 dropdown-toggle" type="button" id="userMenuButton" data-bs-toggle="dropdown" aria-expanded="false" style="display: flex; align-items: center;" title="Perfil de usuario">
                {{#if isAdmin}}
                  <img id="currentProfilePic" src="../../img/coder.avif" alt="Foto de perfil actual" class="img-fluid rounded-circle" style="border-radius: 50%; width: 50px; height: 50px; object-fit: cover; margin-right: 10px;">
                {{else}}
                  {{#if user.avatar}}
                    <img src="../../img/profiles/{{user._id}}/ProfilePic" id="profilePic" alt="Perfil" style="border-radius: 50%; width: 50px; height: 50px; object-fit: cover; margin-right: 10px;" />
                  {{else}}
                    <img src="../../img/profiles/defaultProfilePic.jpg" id="profilePic" alt="Perfil" style="border-radius: 50%; width: 50px; height: 50px; object-fit: cover; margin-right: 10px;" />
                  {{/if}}
                {{/if}}
                <span>
                  <strong style="color: #b14040; text-transform: capitalize">{{user.first_name}} {{user.last_name}}</strong>
                </span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="userMenuButton">
                <li><a class="dropdown-item" href="/profile">Mi Perfil</a></li>
                <li hidden><a class="dropdown-item" href="/profile" id="user-id">{{user._id}}</a></li>
                <li hidden><a class="dropdown-item" href="/profile">✉ {{user.email}}</a></li>
                {{#if user.age}}
                  <li hidden><a class="dropdown-item" href="/profile">Edad: {{user.age}}</a></li>
                {{/if}}
                <li hidden>Id: <span id="user-id">{{user._id}}</span></li>
                <li><a class="dropdown-item" href="/profile">Cuenta: <span id="user-role">{{user.role}}</span></a></li>
                <li><hr class="dropdown-divider"></li>
                <li>
                  <form action="/logout" method="POST">
                    <button type="submit" class="dropdown-item">Cerrar sesión</button>
                  </form>
                </li>
              </ul>
            </div>
          {{else}}
            <div class="loginBtn">
              <form action="/login" method="GET">
                <button type="submit" class="btn button-black destroySession">Iniciar sesión</button>
              </form>
            </div>
          {{/if}}
          {{#if user.cart}}
            <a id="carritoLink" class="carrito-text" href="/cart/{{user.cart._id}}">
              <img style="padding: 0px 5px 0px 0px" src="/img/imagen-carrito.svg" alt="Icono del carrito de compras">
              <span id="numeroCarrito" class="numeroCarrito badge rounded-circle">{{totalQuantityInCart}}</span>
            </a>
          {{else}}
            <a id="carritoLink" class="carrito-text d-none d-sm-block">
              <img style="padding: 0px 5px 0px 0px" src="/img/imagen-carrito.svg" alt="Icono del carrito de compras">
            </a>
          {{/if}}
        </div>
        <div class="d-block d-sm-none" style="background-color: antiquewhite; padding: 0 25% 0% 0%; border-radius: 5%;">
          <div class="collapse navbar-collapse d-lg-none" id="mobileNavbar">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link text-uppercase" href="/home" style="font-size: larger;"><i class="fa fa-home m-2" style="font-size: x-large;" aria-hidden="true"></i> Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-uppercase" href="/products?page=1" style="font-size: larger;"><i class="fa fa-box m-2"  style="font-size: x-large;" aria-hidden="true"></i> Productos</a>
              </li>
              {{#if isAdminOrPremium}}
                <li class="nav-item">
                  <a class="nav-link text-uppercase" href="/realtimeproducts" style="font-size: larger;"><i class="fa fa-cogs m-2"  style="font-size: x-large;" aria-hidden="true"></i> Productos en tiempo real</a>
                </li>
              {{/if}}
              <li class="nav-item">
                <a class="nav-link text-uppercase" href="/chat" style="font-size: larger;"><i class="fa fa-comments m-2"  style="font-size: x-large;" aria-hidden="true"></i> Chat</a>
              </li>
                                    {{#if user}}
            <li class="dropdown mb-3" style="text-align-last: left;">
              <button class="btn border-0 dropdown-toggle" style="padding: 0.4rem;width: min-content;" type="button" id="userMenuButton" data-bs-toggle="dropdown" aria-expanded="false" style="display: flex; align-items: center;" title="Perfil de usuario">
                {{#if isAdmin}}
                  <img id="currentProfilePic" src="../../img/coder.avif" alt="Foto de perfil actual" class="img-fluid rounded-circle" style="border-radius: 50%; width: 35px; object-fit: cover; margin-right: 10px;">
                {{else}}
                  {{#if user.avatar}}
                    <img src="../../img/profiles/{{user._id}}/ProfilePic" id="profilePic" alt="Perfil" style="border-radius: 50%; width: 35%; object-fit: cover; margin-right: 10px;" />
                  {{else}}
                    <img src="../../img/profiles/defaultProfilePic.jpg" id="profilePic" alt="Perfil" style="border-radius: 50%; width: 35px; object-fit: cover; margin-right: 10px;" />
                  {{/if}}
                {{/if}}
                <span>
                  <strong style="color: #b14040; text-transform: capitalize">{{user.first_name}} {{user.last_name}}</strong>
                </span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="userMenuButton">
                <li><a class="dropdown-item" href="/profile">Mi Perfil</a></li>
                <li hidden><a class="dropdown-item" href="/profile" id="user-id">{{user._id}}</a></li>
                <li hidden><a class="dropdown-item" href="/profile">✉ {{user.email}}</a></li>
                {{#if user.age}}
                  <li hidden><a class="dropdown-item" href="/profile">Edad: {{user.age}}</a></li>
                {{/if}}
                <li hidden>Id: <span id="user-id">{{user._id}}</span></li>
                <li><a class="dropdown-item" href="/profile">Cuenta: <span id="user-role">{{user.role}}</span></a></li>
                <li><hr class="dropdown-divider"></li>
                <li>
                  <form action="/logout" method="POST">
                    <button type="submit" class="dropdown-item">Cerrar sesión</button>
                  </form>
                </li>
              </ul>
            </li>
          {{else}}
          {{/if}}
            </ul>

          </div>
        </div>
      </div>
    </nav>
    <nav id="desktop-nav" class="d-none d-lg-flex navbar navbar-expand-lg navbar-light antiquewhite fixed-top" aria-labelledby="desktop-nav-label" style="color: black;">
      <ul id="desktop-menu" class="navbar-nav mx-auto container justify-content-center text-uppercase">
        <li class="nav-link"><a href="/home" title="Ir a la página principal">Home</a></li>
        <li class="nav-link"><a href="/products?page=1" title="Ver todos los productos">Productos</a></li>
        {{#if isAdminOrPremium}}
          <li class="nav-link"><a href="/realtimeproducts" title="Gestionar productos">Productos en tiempo real</a></li>
        {{/if}}
        <li class="nav-link"><a href="/chat" title="Acceder al chat">Chat</a></li>
        {{#if isAdmin}}
          <li class="nav-link">
            <a href="/adminpanel">Panel de Administrador</a>
          </li>
        {{/if}}
      </ul>
    </nav>
  </div>
  <div class="main-content">
    {{{body}}}
  </div>
  <br>
  <footer class="footer_style">
    <a href="https://www.facebook.com/SportPlus/" target="_blank" class="fa fa-facebook" aria-hidden="true" title="Facebook"></a>
    <a href="https://ar.linkedin.com/company/SportPlus" target="_blank" class="fa fa-linkedin" aria-hidden="true" title="LinkedIn"></a>
    <a href="https://www.instagram.com/SportPlus/" target="_blank" class="fa fa-instagram" aria-hidden="true" title="Instagram"></a>
  </footer>
  <!-- Scripts necesarios Fuentes y Bootstrap-->
  <script src="https://kit.fontawesome.com/4e9044019f.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>

</html>